body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 200;
  font-size: 11pt;
  box-shadow: 10px 5px 5px rgba(0, 28, 128, 0.22);
  background-color:rgba(232, 232, 236, 0.4);
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}
h1{
	color: rgba(0, 0, 255, 0.4);
	font-family: 'helvetica'; 
	font-size: 24pt;
}
h2{
	color: rgba(0, 0, 255, 0.4);
	font-size: 24pt;
}
h4{
	color: purple;
}
#summary {
	color: orange;
}
img{
	width: 100px;
}
.dragons-cray {
	color: #6054BB;
}
h3, h4 {
	font-size: 14pt;
	font-family: 'helvetica'
}
.jumbrotron{ 
	font-size: 24pt; 
	font-family: 'helvetica';
	background-image: url(cloud.jpg);
}
.thumbnail  > img {
	background-color: rgba(0, 28, 128, 0.22);
	width: 125px;
	height: 125px;
}
.iframe {	
	}
